@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}


//purple card

.purple__container {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 375px;
    height: 355px;
    color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .result {
        text-align: center;
        padding-top: 20px;
        opacity: 0.5;
        font-weight: bolder;
    }
    .purple__container__circle {
        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        border-radius: 100%;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }
    h1 {
        font-size: 56px;
        font-weight: bolder;
    }
    h4 {
        font-size: 23px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .purple__container__paragraph {
      text-align: center;
      width: 280px;
      opacity: 0.5;
      font-size: 16px;
      margin-top: 5px;
      font-weight: lighter;
    }

}

.container__circle__paragraph {
    opacity: 0.5;
    font-size: 15px;
}


//transparent card

.transparent__container {
    
    width: 375px;
    height: 355px;
    color: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.transparent__title {
     margin: 20px;
}

.tranparent__red {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 232, 231);
    height: 70px;
    width: 340px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    
}

.transparent__text__light {
    opacity: 0.5;
}

.transparent__reaction {
    color: rgb(225, 149, 150);
}

.transparent__button {
    width: 320px;
    height: 70px;
    border-radius: 50px;
    color: white;
    background-color: rgb(50, 59, 87);
}

.transparent__skills {
    display: flex;
    align-items: center;
}