@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}

.two__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purple__container {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  width: 375px;
  height: 355px;
  color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.purple__container .result {
  text-align: center;
  padding-top: 20px;
  opacity: 0.5;
  font-weight: bolder;
}
.purple__container .purple__container__circle {
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}
.purple__container h1 {
  font-size: 56px;
  font-weight: bolder;
}
.purple__container h4 {
  font-size: 23px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.purple__container .purple__container__paragraph {
  text-align: center;
  width: 280px;
  opacity: 0.5;
  font-size: 16px;
  margin-top: 5px;
  font-weight: lighter;
}

.container__circle__paragraph {
  opacity: 0.5;
  font-size: 15px;
}

.transparent__container {
  width: 375px;
  height: 420px;
  color: black;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transparent__title {
  margin: 20px;
  margin-left: 50px;
  margin-top: 30px;
  text-align: left;
  width: 340px;
}

.tranparent__red {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 232, 231);
  height: 130px;
  width: 313px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.transparent__text__light {
  opacity: 0.5;
  font-size: 14px;
}

.transparent__reaction {
  color: rgb(225, 149, 150);
}

.transparent__skills {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.transparent__skills__verbal {
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.tranparent__orange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(39, 100%, 94%);
  height: 130px;
  width: 313px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.transparent__memory {
  color: hsl(39, 100%, 56%);
}

.transparent__green {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(166, 91%, 95%);
  height: 130px;
  width: 313px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.transparent__verbal {
  color: hsl(166, 100%, 37%);
}

.transparent__violet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(233, 92%, 95%);
  height: 130px;
  width: 313px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  margin-bottom: px;
}

.transparent__visual {
  color: hsl(234, 85%, 45%);
}

.transparent__button {
  width: 320px;
  height: 115px;
  border-radius: 50px;
  color: white;
  background-color: rgb(50, 59, 87);
  font-size: 16px;
  margin-top: 15px;
}

@media (min-width: 992px) {
  .two__cards {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=styles.css.map */